.btn {
  margin: 1rem;
  border: 2px solid hsl(30, 16%, 70%);
  padding: 0.5rem 1rem;
  background: #fff;
  color: #bfb3a6;
  border-radius: 1rem;
}

.btn:hover {
  color: #fff;
  background: #bfb3a6;
}

.btn:focus {
  outline: none;
}
